/* style {
    background-color: black;
} */
h1 {
    background-color:whitesmoke ;
}
body{
    background-color: yellow;
}
/* h2{
    text-decoration-color: chocolate;
}
h3{
    text-decoration-color: darkred; */
/* } */
button {
    background-color: crimson;
    color: aliceblue;
}